# Xcode
build/
build.log
.derivedData/
DerivedData/
*.xcuserstate
*.xcbkptlist
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# LLVM coverage
*.profraw
